:root {
  --color-primary: #f9f7fe;
  --color-accent: #6c63ff;
  --color-dark: #272142;
  --font-body: "Poppins", sans-serif;
  --font-heading: "Playfair Display", serif;
  --rounded-corner-small: 4px;
  --rounded-corner-large: 20px;
}

body {
  font-family: var(--font-body);
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}

h1 {
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading-h2-style {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading-h3-style {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  margin: 0;
}

.regular-paragraph {
  font-size: 16px;
  line-height: 30px;
  color: rgb(39, 33, 66, 0.75);
}

.mb-xlarge {
  margin-bottom: 64px;
}

.mb-xxlarge {
  margin-bottom: 80px;
}

.mb-xxxlarge {
  margin-bottom: 160px;
}

.border-radius-large {
  border-radius: var(--rounded-corner-large);
}

.logo {
  width: 150px;
  height: auto;
}

.navbar-custom {
  padding: 24px 0px;
}

.nav-link {
  color: var(--color-dark) !important;
  opacity: 0.75;
  font-weight: 500;
  transition: all 200ms ease;
  margin-left: 40px;
}

.nav-link:hover,
.nav-link.active {
  color: var(--color-accent) !important;
  opacity: 1;
}

.hero-section {
  background-color: var(--color-primary);
  text-align: center;
  padding: 160px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section h2 {
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: normal;
  color: var(--color-dark);
}

.hero-subtitle {
  font-weight: bold;
  font-size: 36px;
  line-height: normal;
}

.button {
  display: block;
  text-align: center;
  padding: 18px 36px;
  border-radius: var(--rounded-corner-small);
  text-decoration: none;
  font-weight: 500;
  line-height: normal;
  border: 1px solid var(--color-accent);
  transition: all 300ms ease;
}

.button-primary {
  background-color: var(--color-accent);
  color: white;
  font-size: 18px;
}

.button-primary:hover {
  background-color: transparent;
  color: var(--color-accent);
}

.button-secondary {
  color: var(--color-accent);
  background-color: transparent;
  font-size: 16px;
}

.button-secondary:hover {
  color: white;
  background-color: var(--color-accent);
}

.portfolio-section {
  padding: 128px 24px 132px;
}

.contact-bg {
  background-color: var(--color-primary);
  border-radius: var(--rounded-corner-large);
  padding: 48px 120px;
}

.email-link {
  text-decoration: none;
  color: var(--color-dark);
  font-size: 24px;
  font-weight: 500;
}

.contact-links-container {
  padding: 0 24px;
  margin: 80px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-link {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  background-color: var(--color-primary);
  border-radius: 100%;
  text-decoration: none;
  color: var(--color-accent);
}

.about-section {
  padding: 160px 24px;
}

.about-content {
  width: 100%;
  max-width: 506px;
  margin-right: auto;
}

.about-section h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--font-body);
}

.page-section {
  padding: 160px 24px 104px;
}

.page-heading-wrapper {
  width: 100%;
  max-width: 700px;
}

.portfolio-image {
  border-radius: var(--rounded-corner-large);
}
.copyright {
  margin: 48px 0 80px;
  text-align: center;
  padding: 0px 24px;
}

.copyright a {
  color: var(--color-accent);
}

@media (max-width: 1240px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  .heading-h2-style {
    font-size: 36px;
  }

  .heading-h3-style {
    font-size: 36px;
  }

  .nav-link {
    margin-left: 0px;
  }

  .hero-section h2 {
    font-size: 20px;
  }

  .hero-section {
    padding: 80px 24px;
  }

  .portfolio-section {
    padding: 80px 24px 80px;
  }

  .mb-md-large {
    margin-bottom: 64px;
  }

  .contact-bg {
    padding: 40px;
  }

  .contact-links-container {
    margin-top: 64px;
  }

  .page-section {
    padding: 80px 24px;
  }

  .mb-xxxlarge {
    margin-bottom: 80px;
  }
}

@media (max-width: 520px) {
  .contact-bg {
    border-radius: 0px;
  }
}
